* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: var(--sixthcolor)
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');


:root {
    --firstcolor: white;
    --secondcolor: rgb(239, 239, 239);
    --thirdcolor: #1B4965;
    --fourthcolor: #1B4965;
    --fifthcolor: #BEE9E8;
    --sixthcolor: rgb(95, 95, 95);
}

#d-switch {
    background-color: var(--thirdcolor);
    padding-left: .5em;
    padding-right: .5em;
    padding-top: .3em;
    padding-bottom: .3em;
    border-radius: 2em;
    border: 3px solid var(--fifthcolor);
    color: var(--fifthcolor);
    cursor: pointer;
    display: none;
    font-weight: bold;
    transition: .2s ease-in-out;
}

.switch-ch {
    display: none;
}

.dark-mode {

    --firstcolor: #3b4a46;
    --secondcolor: rgb(35, 35, 35);
    --thirdcolor: #e8eddf;
    --fourthcolor: #bee9e8;
    --fifthcolor: #1b4965;
    --sixthcolor: white;

}

.container {
    width: 100vw;
}

.navigation {
    height: 45px;
    width: 100%;
    background-image: linear-gradient(45deg,#1B4965, #062536);
    padding-top: 10px;
    position: fixed;
}


.fa-bars{
    color: white;
    cursor: pointer;
    font-size: 20px;
}

#checkbox {
    display: none;
}

#checkbox:checked ~ .menu-ul {
top: 0;
}

.check-btn {
    margin-left: 85%;
}


.menu-ul {
    list-style-type: none;
    text-align: center;
    position: fixed;
    width: 100%;
    background-image: linear-gradient(45deg,#1B4965, #062536);
    top: -100%;
    margin-top: 45px;
    padding-bottom: 15px;
}

li {
    margin-top: 1em;
}

li>a {
    text-decoration: none;
    color: white;
    padding: .5em;
    font-family: 'Josefin Sans', sans-serif;
    transition: .25s ease-in-out;

}

.location {
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.1em;
}



li>a:hover {
   /* background-color: white;*/
   /*color: #1B4965;*/
    color: white;
    text-decoration: underline;
    font-weight: bold;
    letter-spacing: 3px;
}


.main {
display: flex;
flex-direction: column;
align-items: center;
background-color: var(--fifthcolor);
padding: 1em 1em 5em 1em;
transition: all .7s;
}

.first-text {
    padding-top: 130px;
    padding-bottom: 150px;
    text-align: left;
    padding-left: 10%;
}

.picture {
    width: 5em;
    border-radius: 50%;
    margin: 5em;
}

.headline {
    font-size: 30px;
    font-weight: lighter;
}

h2 {
    font-size: 2.5em;
    line-height: 50px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: .5em;
}

.htext {
    align-self: flex-start;
}

.headtext {
    background-image: linear-gradient(45deg, rgb(31, 142, 45), rgb(11, 175, 251));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: 600px;
}

.headpar {
    max-width: 600px;
}


.btn-div {
    margin: 50px 0 150px 0;
}

.button {
    /*background-color: var(--firstcolor);*/
    background-image: linear-gradient(rgb(236, 241, 245), var(--fourthcolor), #12370a);
    padding: 1em 1.5em;
    border-radius: 2em;
    text-decoration: none;
    color: var(--fifthcolor);
    text-transform: uppercase;
    transition-duration: .5s;
    border: none;
    margin: 10px;
    cursor: pointer;
}


.button:hover {
    color: rgb(65, 65, 65);
    background-image: none;
    background-color: rgb(255, 255, 255);
    border: 1px solid #062536a0;
}

.tools {
    font-size: 1.5em;
}

.logo {
    width: 40px;
    margin-bottom: 10px;
}

.skills {
    margin-top: 30px;
}

footer {
    padding-top: 10vh;
    padding-bottom: 20vh;
    height: 20vh;
    text-align: center;
    background-color: #1B4965;
}

footer p {
    color: lightgray;
}

.social {
    word-spacing: 1em;
    margin-bottom: 1em;
}

.fa-brands {
    background-color: #e8eddf;
    font-size: 20px;
    padding: .5em;
    border-radius: 50%;
    color: rgb(65, 64, 64);
    
}

.fa-instagram {
    padding-left: 12px;
    padding-right: 12px;
}


.cv-ul {
    text-align: left;
    padding: 8px;
}

.cvsectwo {
    padding: 30px 0;
}

.cv-section {
    margin-top: 50px;
}

.contactpar {
    margin: 30px 0;
}

.input {
    border: 1px solid #1b49657a;
    border-radius: .4em;
    background-color: #f1f1f1;
    transition: background-color .2s;
}

.input:focus {
    background-color: white;
    outline: none;
    color: #505050;
}

#submit {
    padding: .5em 1.5em;
    border-radius: .5em;
    border: none;
    background-image: linear-gradient(rgb(236, 241, 245), #1B4965, #25648c);
    text-decoration: none;
    color: rgb(218, 218, 218);
    text-transform: uppercase;
    transition-duration: .5s;
    
}

#submit:hover {
    color: rgb(65, 65, 65);
    background-image: none;
    background-color: rgb(255, 255, 255);
    border: 1px solid #062536a0;
    cursor: pointer;
}

.contactbox {
    margin-top: 25px;
}

.contact {
    text-align: center;
    padding-right: 10%;
}


.input {
    margin-bottom: 20px;
}

.grid-box{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 80%;
    margin: auto;
    padding-top: 7em;
    padding-bottom: 5em;
    gap: 15px;
    text-align: center;
}

.portimg {
    width: 100%;
    border: 1px solid var(--thirdcolor);
    border-radius: 15px;
}

.griddiv {
    text-align: center;
    margin: auto;
    width: 80%;
}

.gridimg {
    text-align: center;
    border-radius: 15px;
    background-color: var(--fifthcolor);
    width: 100%;
    transition: .7s;
}

.gridpar {
    margin-top: 1em;
    line-height: 25px;
}

.sectwo p {
    padding:20px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    border-radius: 15px;
    margin-top: 10px;
}

.secone {
    background-color: var(--fifthcolor);
    border-radius: 15px;
    padding: 20px;
    transition: .7s;
}

.wid {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    height: 250px;
}

.wid-box {
    background-color: var(--thirdcolor);
    width: 130px;
    height: 130px;
    font-size: 2em;
    font-weight: bold;
    border: 10px solid var(--fifthcolor);
    margin-right: 50px;
    letter-spacing: .5px;
    transition: .7s ease-in-out;
}

.wid-boxtwo {
    background-color: #e6ffbbd3;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-top: -50px;
    font-size: 2em;
    border: 10px solid var(--fifthcolor);
    margin-left: 50px;
    transition: .7s ease-in-out;
}

.wid-code {
    margin-top: 30px;
    margin-left: -45px;
    color: var(--fifthcolor);
    transition: .7s ease-in-out;
}

.wid-design {
    margin-top: 30px;
    margin-left: 40px;
    color: rgb(231, 140, 140);
    transition: .7s ease-in-out;
}

.co {
    color: var(--thirdcolor);
}

.code-o {
    color:  var(--fifthcolor);
    transition: .7s ease-in-out;
}

.des {
    color: #000000b7;
}

.what {
    font-size: 25px;
    margin: 4em 0 1em 0;
}

.gridwrap {
    display: grid;
    margin-top: 6em;
    width: 90%;
}


.nova {
    margin-bottom: 4em;
    margin-top: 1em;
}

.res {
    font-size: 30px;
    font-weight: 700;
    color: var(--sixthcolor);
}

.port-img {
    border-radius: 10px;
    border: 10px;
    width: 100%;
    box-shadow: 3px 3px 6px rgba(48, 48, 48, 0.629);
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.modal:target .modal-inner {
    visibility: visible;
    opacity: 1;
}

.modal-inner {
    width: 80vw;
    background-color: white;
    border-radius: .5em;
    opacity: 0;
    visibility: hidden;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    padding: 1em;
    box-shadow: 2px 2px 4px grey;
    transition: .2s ease-in;
}

.closepop {
   position: absolute;
   right: 10px;
   top: -7px;
   text-decoration: none;
   font-size: 40px;

}

.pophead {
    font-size: 25px;
}

.mc {
    color: #505050;
}

.gameModal {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;

}

.jsmodal-inner {
    width: 80vw;
    background-color: white;
    border-radius: .5em;
    font-size: 16px;
    font-weight: 400;
    padding: 1em;
    box-shadow: 2px 2px 4px grey;
    margin: 0 auto;
    margin-top: 35vh;
    
}

.gameMdl-close {
    cursor: pointer;
    font-size: 40px;
    margin-left: 95%;
    margin-top: -2%;
}

.btn-size {
    font-size: small;
    background-image: linear-gradient(rgb(236, 241, 245), var(--fourthcolor), #12370a);
    padding: 1em 1.5em;
    border-radius: 2em;
    text-decoration: none;
    color: var(--fifthcolor);
    text-transform: uppercase;
    transition-duration: .5s;
    border: none;
    margin: 10px;
    cursor: pointer;
}

.btn-size:hover {
    color: rgb(65, 65, 65);
    background-image: none;
    background-color: rgb(255, 255, 255);
    border: 1px solid #062536a0;
}

@media screen and (min-width: 550px) {
    
    .menu-ul li {
        display: inline-block;
        font-size: larger;
    }

    .check-btn {
        display: none;
    }

    .menu-ul {
        position: relative;
        background-image: none;
    }

    .contact {
        text-align: left;
    }

    .navigation {
        height: 60px;
        position: relative;
    }

    .picture {
        width: 7em;
    }

    .htext {
        width: 50vw;
        margin-left: 4em;
    }

    .skills {
        word-spacing: 2em;
    }

    .logo {
        width: 60px;
    }


    #textarea {
        width: 50%;
    }

    .grid-box {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr;
        padding-top: 8em;
    }
    

    .secone {
        grid-area: 1/1/2/2;
    }

    .sectwo {
        grid-area: 2/1/-1/-1;
    }

    .sectwo p {
        margin-top: 40px;
    }

    .wid {
        display: flex;
        width: 90%;
        flex-direction: column;
        align-items: center;
        margin-top: 1em;
    }
    
    .wid-box {
        margin-right: 200px;
        letter-spacing: .5px;
        transition: .7s;
    }
    
    .wid-boxtwo {
        margin-top: -130px;
        margin-left: 190px;
        transition: .7s;
    }
    
    .wid-code {
        margin-top: 30px;
        margin-left: -65px;
        transition: .7s ;
    }
    
    .wid-design {
        margin-top: 30px;
        margin-left: 48px;
        color: rgb(231, 140, 140);
        transition: .7s;
    }
    

    .code-o {
        color: var(--thirdcolor)
    }
    

    .gridwrap {
        grid-template-columns: 2fr 1fr 2fr;
        grid-template-rows: repeat(5, 1fr);
    }

    .first-grid {
        grid-area: 1/1/2/2;
    }

    .res-grid {
        grid-area: 1/3/2/4;
    }

    .res-flex {
        grid-area: 2/1/3/2;
    }

    .first-flex {
        grid-area: 2/3/3/4;
    }

    .first-menu {
        grid-area: 3/1/4/2;
    }

    .res-menu {
        grid-area: 3/3/4/4;
    }

    .rockboxone {
        grid-area: 4/1/5/2;
    }

    .rockboxtwo {
        grid-area: 4/3/5/4;
    }

    .numboxone {

        grid-area: 5/3/6/4;

    }

    .numboxtwo {
        grid-area: 5/1/6/2;
    }

    .res {
        margin-top: 50%;
    }

    .modal-inner {
        width: 600px;
    }

    #d-switch {
        display: inline;
    }

    .jsmodal-inner {
        width: 600px;
    }

    

}

@media screen and (min-width: 830px) {

    body {
    background-color: var(--secondcolor);
    transition: .7s;
    }

    .container {
        width: 830px;
        margin: auto;
    }

    .navigation {
        background-image: linear-gradient(var(--fifthcolor),60%,rgba(255, 255, 255, 0) );
        /* border-bottom: 1px solid rgb(138, 138, 138); */
        position: fixed;
        width: 700px;
        opacity: .94px;
        margin-left: 4%;
    }

    .check-btn {
        display: none;
    }

    .menu-ul {
        position: relative;
        background-image: none;
    }

    

    li>a {
        color: var(--sixthcolor);
    }

    li>a:hover {
        color: var(--sixthcolor);
    }

    .picture {
        margin-top: 8em;
    }

    .grid-box {
        padding-top: 12em;
    }

}